In [1]:
PATH = 'data/'

In [2]:
!pwd
!ls {PATH}

/home/ubuntu/elo
Data_Dictionary.xlsx		    new_merchant_transactions.csv.zip
historical_transactions.csv	    new_merchant_transactions_20000.csv
historical_transactions.csv.zip     sample_submission.csv.zip
historical_transactions_100000.csv  test.csv
historical_transactions_20000.csv   test.csv.zip
merchants.csv			    train.csv
merchants.csv.zip		    train.csv.zip
new_merchant_transactions.csv

In [3]:
import pandas as pd

### Train and Test data

In [4]:
df_train = pd.read_csv(f'{PATH}train.csv', nrows=10); df_train.columns.tolist()

['first_active_month',
 'card_id',
 'feature_1',
 'feature_2',
 'feature_3',
 'target']

In [5]:
df_test = pd.read_csv(f'{PATH}train.csv', nrows=10); df_test.columns.tolist()

['first_active_month',
 'card_id',
 'feature_1',
 'feature_2',
 'feature_3',
 'target']

In [6]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
first_active_month    10 non-null object
card_id               10 non-null object
feature_1             10 non-null int64
feature_2             10 non-null int64
feature_3             10 non-null int64
target                10 non-null float64
dtypes: float64(1), int64(3), object(2)
memory usage: 560.0+ bytes

In [7]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
first_active_month    10 non-null object
card_id               10 non-null object
feature_1             10 non-null int64
feature_2             10 non-null int64
feature_3             10 non-null int64
target                10 non-null float64
dtypes: float64(1), int64(3), object(2)
memory usage: 560.0+ bytes

In [8]:
df_train.first_active_month.head(5)

0    2017-06
1    2017-01
2    2016-08
3    2017-09
4    2017-11
Name: first_active_month, dtype: object

**NOTE:** 
- `card_id` is index
- `fist_active_month` should be converted to date type or a category type

### Transaction data

In [9]:
df_hist = pd.read_csv(f'{PATH}historical_transactions.csv', nrows=10); df_hist.columns.tolist()

['authorized_flag',
 'card_id',
 'city_id',
 'category_1',
 'installments',
 'category_3',
 'merchant_category_id',
 'merchant_id',
 'month_lag',
 'purchase_amount',
 'purchase_date',
 'category_2',
 'state_id',
 'subsector_id']

In [10]:
df_new = pd.read_csv(f'{PATH}new_merchant_transactions.csv', nrows=10); df_new.columns.tolist()

['authorized_flag',
 'card_id',
 'city_id',
 'category_1',
 'installments',
 'category_3',
 'merchant_category_id',
 'merchant_id',
 'month_lag',
 'purchase_amount',
 'purchase_date',
 'category_2',
 'state_id',
 'subsector_id']

In [11]:
df_hist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 14 columns):
authorized_flag         10 non-null object
card_id                 10 non-null object
city_id                 10 non-null int64
category_1              10 non-null object
installments            10 non-null int64
category_3              10 non-null object
merchant_category_id    10 non-null int64
merchant_id             10 non-null object
month_lag               10 non-null int64
purchase_amount         10 non-null float64
purchase_date           10 non-null object
category_2              10 non-null float64
state_id                10 non-null int64
subsector_id            10 non-null int64
dtypes: float64(2), int64(6), object(6)
memory usage: 1.2+ KB

In [12]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 14 columns):
authorized_flag         10 non-null object
card_id                 10 non-null object
city_id                 10 non-null int64
category_1              10 non-null object
installments            10 non-null int64
category_3              10 non-null object
merchant_category_id    10 non-null int64
merchant_id             10 non-null object
month_lag               10 non-null int64
purchase_amount         10 non-null float64
purchase_date           10 non-null object
category_2              8 non-null float64
state_id                10 non-null int64
subsector_id            10 non-null int64
dtypes: float64(2), int64(6), object(6)
memory usage: 1.2+ KB

In [13]:
df_hist[['authorized_flag', 'card_id', 'category_1', 'category_3', 'merchant_id',
        'purchase_date']].head(5)

,authorized_flag,card_id,category_1,category_3,merchant_id,purchase_date
0,Y,C_ID_4e6213e9bc,N,A,M_ID_e020e9b302,2017-06-25 15:33:07
1,Y,C_ID_4e6213e9bc,N,A,M_ID_86ec983688,2017-07-15 12:10:45
2,Y,C_ID_4e6213e9bc,N,A,M_ID_979ed661fc,2017-08-09 22:04:29
3,Y,C_ID_4e6213e9bc,N,A,M_ID_e6d5ae8ea6,2017-09-02 10:06:26
4,Y,C_ID_4e6213e9bc,N,A,M_ID_e020e9b302,2017-03-10 01:14:19

**NOTE:** 
- `card_id` and `mechant_id` is index
- `purchase_date` should be converted to date type
-  `authorized_flag`, `category_1`, `category_3` are categories or booleans, need to check

### Merchant data

In [14]:
df_merchants = pd.read_csv(f'{PATH}merchants.csv', nrows=10); df_merchants.columns.tolist()

['merchant_id',
 'merchant_group_id',
 'merchant_category_id',
 'subsector_id',
 'numerical_1',
 'numerical_2',
 'category_1',
 'most_recent_sales_range',
 'most_recent_purchases_range',
 'avg_sales_lag3',
 'avg_purchases_lag3',
 'active_months_lag3',
 'avg_sales_lag6',
 'avg_purchases_lag6',
 'active_months_lag6',
 'avg_sales_lag12',
 'avg_purchases_lag12',
 'active_months_lag12',
 'category_4',
 'city_id',
 'state_id',
 'category_2']

In [15]:
df_merchants.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 22 columns):
merchant_id                    10 non-null object
merchant_group_id              10 non-null int64
merchant_category_id           10 non-null int64
subsector_id                   10 non-null int64
numerical_1                    10 non-null float64
numerical_2                    10 non-null float64
category_1                     10 non-null object
most_recent_sales_range        10 non-null object
most_recent_purchases_range    10 non-null object
avg_sales_lag3                 3 non-null float64
avg_purchases_lag3             10 non-null float64
active_months_lag3             10 non-null int64
avg_sales_lag6                 3 non-null float64
avg_purchases_lag6             10 non-null float64
active_months_lag6             10 non-null int64
avg_sales_lag12                3 non-null float64
avg_purchases_lag12            10 non-null float64
active_months_lag12            10 non-null int64
category_4                     10 non-null object
city_id                        10 non-null int64
state_id                       10 non-null int64
category_2                     6 non-null float64
dtypes: float64(9), int64(8), object(5)
memory usage: 1.8+ KB

In [16]:
df_merchants[['merchant_id', 'category_1', 'most_recent_sales_range',
        'most_recent_purchases_range', 'category_4']].head(5)

,merchant_id,category_1,most_recent_sales_range,most_recent_purchases_range,category_4
0,M_ID_838061e48c,N,E,E,N
1,M_ID_9339d880ad,N,E,E,N
2,M_ID_e726bbae1e,N,E,E,N
3,M_ID_a70e9c5f81,Y,E,E,Y
4,M_ID_64456c37ce,Y,E,E,Y

**NOTE:** 
- `mechant_id` is index
- `category_1`, `category_4`, `most_recent_sales_range`, `most_recent_purchases_range` are categories or booleans, need to check

### Joins

There's essentially 3 different structures of tables. How do they join?

In [17]:
def intersection(lst1, lst2): 
    return list(set(lst1.columns.tolist()).intersection(set(lst2.columns.tolist())))

In [18]:
intersection(df_train, df_new)

['card_id']

In [19]:
intersection(df_train, df_merchants)

[]

In [20]:
intersection(df_new, df_merchants)

['category_1',
 'state_id',
 'merchant_id',
 'category_2',
 'subsector_id',
 'city_id',
 'merchant_category_id']

In [21]:
def merge_dfs(df_1, df_2):
    merge_cols = intersection(df_1, df_2)
    return df_1.merge(df_2, on=merge_cols, how='inner')

In [22]:
df_merch_join = merge_dfs(df_new, df_merchants); df_merch_join.columns.tolist()

['authorized_flag',
 'card_id',
 'city_id',
 'category_1',
 'installments',
 'category_3',
 'merchant_category_id',
 'merchant_id',
 'month_lag',
 'purchase_amount',
 'purchase_date',
 'category_2',
 'state_id',
 'subsector_id',
 'merchant_group_id',
 'numerical_1',
 'numerical_2',
 'most_recent_sales_range',
 'most_recent_purchases_range',
 'avg_sales_lag3',
 'avg_purchases_lag3',
 'active_months_lag3',
 'avg_sales_lag6',
 'avg_purchases_lag6',
 'active_months_lag6',
 'avg_sales_lag12',
 'avg_purchases_lag12',
 'active_months_lag12',
 'category_4']

In [23]:
df_join_all = merge_dfs(df_merch_join, df_train); df_join_all.columns.tolist()

['authorized_flag',
 'city_id',
 'category_1',
 'installments',
 'category_3',
 'merchant_category_id',
 'merchant_id',
 'month_lag',
 'purchase_amount',
 'purchase_date',
 'category_2',
 'state_id',
 'subsector_id',
 'merchant_group_id',
 'numerical_1',
 'numerical_2',
 'most_recent_sales_range',
 'most_recent_purchases_range',
 'avg_sales_lag3',
 'avg_purchases_lag3',
 'active_months_lag3',
 'avg_sales_lag6',
 'avg_purchases_lag6',
 'active_months_lag6',
 'avg_sales_lag12',
 'avg_purchases_lag12',
 'active_months_lag12',
 'category_4',
 'first_active_month',
 'card_id',
 'feature_1',
 'feature_2',
 'feature_3',
 'target']

### Checking categories and ranges

Transaction data (historical and new) is in large data files (over 100MB).

In [24]:
!ls -lhS {PATH}

total 3.5G
-rw-r--r-- 1 ubuntu ubuntu 2.7G Nov 23 21:10 historical_transactions.csv
-rw-rw-r-- 1 ubuntu ubuntu 539M Dec  4 02:38 historical_transactions.csv.zip
-rw-r--r-- 1 ubuntu ubuntu 182M Nov 23 21:10 new_merchant_transactions.csv
-rw-rw-r-- 1 ubuntu ubuntu  49M Dec  4 02:38 new_merchant_transactions.csv.zip
-rw-r--r-- 1 ubuntu ubuntu  48M Nov 23 21:10 merchants.csv
-rw-rw-r-- 1 ubuntu ubuntu  13M Dec  4 02:38 merchants.csv.zip
-rw-rw-r-- 1 ubuntu ubuntu 9.4M Dec  4 09:38 historical_transactions_100000.csv
-rw-r--r-- 1 ubuntu ubuntu 8.0M Nov 23 21:10 train.csv
-rw-r--r-- 1 ubuntu ubuntu 3.6M Nov 23 21:10 test.csv
-rw-rw-r-- 1 ubuntu ubuntu 3.0M Dec  4 02:38 train.csv.zip
-rw-rw-r-- 1 ubuntu ubuntu 1.9M Dec  9 06:39 historical_transactions_20000.csv
-rw-rw-r-- 1 ubuntu ubuntu 1.9M Dec  9 07:49 new_merchant_transactions_20000.csv
-rw-rw-r-- 1 ubuntu ubuntu 1.1M Dec  4 02:38 test.csv.zip
-rw-rw-r-- 1 ubuntu ubuntu 839K Dec  4 02:38 sample_submission.csv.zip
-rw-rw-r-- 1 ubuntu ubuntu  18K Dec  4 02:38 Data_Dictionary.xlsx

Reduce memory used when loading by detecting appropriate data types

In [25]:
df_hist = pd.read_csv(f'{PATH}historical_transactions_100000.csv', parse_dates=['purchase_date'])

In [26]:
df_hist.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 14 columns):
authorized_flag         100000 non-null object
card_id                 100000 non-null object
city_id                 100000 non-null int64
category_1              100000 non-null object
installments            100000 non-null int64
category_3              99399 non-null object
merchant_category_id    100000 non-null int64
merchant_id             99497 non-null object
month_lag               100000 non-null int64
purchase_amount         100000 non-null float64
purchase_date           100000 non-null datetime64[ns]
category_2              90923 non-null float64
state_id                100000 non-null int64
subsector_id            100000 non-null int64
dtypes: datetime64[ns](1), float64(2), int64(6), object(5)
memory usage: 39.4 MB

In [27]:
def mem_usage(pandas_obj):
    if isinstance(pandas_obj,pd.DataFrame):
        usage_b = pandas_obj.memory_usage(deep=True).sum()
    else: # we assume if not a df it's a series
        usage_b = pandas_obj.memory_usage(deep=True)
    usage_mb = usage_b / 1024 ** 2 # convert bytes to megabytes
    return "{:03.2f} MB".format(usage_mb)

In [28]:
mem_usage(df_hist)

'39.44 MB'

In [29]:
def downcast_int(df):
    df_int = df.select_dtypes(include=['int'])
    converted_int = df_int.apply(pd.to_numeric, downcast='integer')

    print(mem_usage(df_int))
    print(mem_usage(converted_int))

    compare_ints = pd.concat([df_int.dtypes, converted_int.dtypes], axis=1)
    compare_ints.columns = ['before', 'after']
    print(compare_ints.apply(pd.Series.value_counts))
    
    return converted_int

In [30]:
converted_int = downcast_int(df_hist)

4.58 MB
0.76 MB
       before  after
int8      NaN    4.0
int16     NaN    2.0
int64     6.0    NaN

In [31]:
def downcast_float(df):
    df_float = df.select_dtypes(include=['float'])
    converted_float = df_float.apply(pd.to_numeric, downcast='float')

    print(mem_usage(df_float))
    print(mem_usage(converted_float))

    compare_floats = pd.concat([df_float.dtypes, converted_float.dtypes],axis=1)
    compare_floats.columns = ['before','after']
    print(compare_floats.apply(pd.Series.value_counts))
    
    return converted_float

In [32]:
converted_float = downcast_float(df_hist)

1.53 MB
0.76 MB
         before  after
float32     NaN    2.0
float64     2.0    NaN

In [33]:
df_obj = df_hist.select_dtypes(include=['object']).copy()
df_obj.describe()

       authorized_flag          card_id category_1 category_3      merchant_id
count           100000           100000     100000      99399            99497
unique               2            74599          2          3            41500
top                  Y  C_ID_3d3dfdc692          N          A  M_ID_00a6ca8a8a
freq             91436               21      92911      52778             3747

In [34]:
df_hist.authorized_flag.head()

0    Y
1    N
2    Y
3    Y
4    Y
Name: authorized_flag, dtype: object

Convert to category first then some can be converted to boolean

In [35]:
print(mem_usage(df_hist.authorized_flag))
df_hist.authorized_flag = df_hist.authorized_flag.astype('category')
print(mem_usage(df_hist.authorized_flag))

6.29 MB
0.10 MB

Boolean adds no benefits over category type

We should stick to using the category type primarily for object columns where less than 50% of the values are unique. This function will check for unique values:

In [36]:
def get_unique_vals(df): 
    df_obj = df.select_dtypes(include=['object']).copy()
    converted_obj = pd.DataFrame()

    for col in df_obj.columns:
        num_unique_values = len(df_obj[col].unique())
        num_total_values = len(df_obj[col])
        if num_unique_values / num_total_values < 0.5:
            converted_obj.loc[:,col] = df_obj[col].astype('category')
        else:
            converted_obj.loc[:,col] = df_obj[col]
    
    return converted_obj

In [37]:
converted_obj = get_unique_vals(df_hist)
converted_obj.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 4 columns):
card_id        100000 non-null object
category_1     100000 non-null category
category_3     99399 non-null category
merchant_id    99497 non-null category
dtypes: category(3), object(1)
memory usage: 2.9+ MB

In [38]:
print(mem_usage(df_hist))
print(mem_usage(converted_obj))

compare_obj = pd.concat([df_hist.dtypes, converted_obj.dtypes], axis=1, sort=False)
compare_obj.columns = ['before','after']
compare_obj.apply(pd.Series.value_counts)

33.24 MB
11.54 MB

                before  after
int64              6.0    NaN
float64            2.0    NaN
datetime64[ns]     1.0    NaN
object             4.0    1.0
category           1.0    1.0
category           NaN    1.0
category           NaN    1.0

### Loading using detected data types

In [39]:
optimized_df = df_hist.copy()
optimized_df[converted_int.columns] = converted_int
optimized_df[converted_float.columns] = converted_float
optimized_df[converted_obj.columns] = converted_obj

In [40]:
optimized_df.set_index('card_id', inplace=True)

In [41]:
print(mem_usage(df_hist))
print(mem_usage(optimized_df))

33.24 MB
13.92 MB

In [42]:
optimized_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100000 entries, C_ID_27a5b515bc to C_ID_e9638cd765
Data columns (total 13 columns):
authorized_flag         100000 non-null category
city_id                 100000 non-null int16
category_1              100000 non-null category
installments            100000 non-null int8
category_3              99399 non-null category
merchant_category_id    100000 non-null int16
merchant_id             99497 non-null category
month_lag               100000 non-null int8
purchase_amount         100000 non-null float32
purchase_date           100000 non-null datetime64[ns]
category_2              90923 non-null float32
state_id                100000 non-null int8
subsector_id            100000 non-null int8
dtypes: category(4), datetime64[ns](1), float32(2), int16(2), int8(4)
memory usage: 5.3+ MB

In [43]:
dtypes = optimized_df.drop('purchase_date',axis=1).dtypes

dtypes_col = dtypes.index
dtypes_type = [i.name for i in dtypes.values]

column_types = dict(zip(dtypes_col, dtypes_type))

preview = first2pairs = {key:value for key,value in list(column_types.items())[:10]}
import pprint
pp = pp = pprint.PrettyPrinter(indent=4)
pp.pprint(preview)

{   'authorized_flag': 'category',
    'category_1': 'category',
    'category_2': 'float32',
    'category_3': 'category',
    'city_id': 'int16',
    'installments': 'int8',
    'merchant_category_id': 'int16',
    'merchant_id': 'category',
    'month_lag': 'int8',
    'purchase_amount': 'float32'}

In [44]:
df_new = pd.read_csv(f'{PATH}new_merchant_transactions.csv')
print(mem_usage(df_new))

899.54 MB

In [45]:
def read_transactions(filename):
    return pd.read_csv(f'{PATH}{filename}', 
                                     dtype=column_types, 
                                     parse_dates=['purchase_date'],
                                     infer_datetime_format=True)

opt_new = read_transactions('new_merchant_transactions.csv')
print(mem_usage(opt_new))
opt_new.head()

218.35 MB

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
0,Y,C_ID_415bb3a509,107,N,1,B,307,M_ID_b0c793002c,1,-0.557574,2018-03-11 14:57:36,1.0,9,19
1,Y,C_ID_415bb3a509,140,N,1,B,307,M_ID_88920c89e8,1,-0.569580,2018-03-19 18:53:37,1.0,9,19
2,Y,C_ID_415bb3a509,330,N,1,B,507,M_ID_ad5237ef6b,2,-0.551037,2018-04-26 14:08:44,1.0,9,14
3,Y,C_ID_415bb3a509,-1,Y,1,B,661,M_ID_9e84cda3b1,1,-0.671925,2018-03-07 09:43:21,NaN,-1,8
4,Y,C_ID_ef55cf8d4b,-1,Y,1,B,166,M_ID_3c86fa3831,1,-0.659904,2018-03-22 21:07:53,NaN,-1,29